// Filter Area ===
.dz-product-filter{
	height: 60px;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 15px;
	li{
		padding: 5px 30px;
		border-right: 1px solid var(--border-color);
		> a{
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 5px;
			i{
				font-size: 16px;
			}	
		}
	}
}

.filter-inner-content{
	margin-bottom: 35px;
	.title-bar{
		margin-bottom: 10px;
	}
}


//Product Detail ==
.dz-product-preview{
	position: relative;
	overflow: hidden;
	.product-detail-swiper{
		.swiper-wrapper{
			.swiper-slide{
				opacity: 0 !important;
				&.swiper-slide-active{
					opacity: 1!important;
				}
			}
		}
		.item-bookmark{
			left: auto;
			right: 10px;
			top: 12px;
		}
	}
}

.dz-product-detail{
	padding: 40px 20px 24px;
    margin-top: -40px;
    background-color: var(--bg-white);
    border-radius: 35px 35px 0px 0px;
    position: relative;
    z-index: 2;
	.dz-handle{
		border-radius: 20px;
		background: #DDD;
		width: 61px;
		height: 6px;
		position: absolute;
		top: 12px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
	}
	.detail-content{
		margin-bottom: 30px;
		padding-right: 16px;
		.title{
			font-weight: 500;
		}
	}
	.dz-item-rating {
		height: 64px;
		width: 64px;
		text-align: center;
		line-height: 64px;
		border-radius: 50%;
		font-size: 24px;
		color: #fff;
		font-weight: 600;
		position: absolute;
		right: 30px;
		top: -30px;
		background: #FF8730;
		box-shadow: 0px 9px 18px 0px rgba(255, 135, 48, 0.40);
	}
	.item-wrapper{
		display: flex;
		flex-direction: column;
		gap: 30px;
		.dz-name{
			font-weight: 500;
		}
		.dz-range-slider{
			padding: 0 20px;
			margin-bottom: 50px;
			.slider{
				width: calc(100% - 20px);
				
				.noUi-handle{
					border-radius: 50%;
					background-color: var(--primary);
					width: 25px;
					height: 25px;
					top: -8px;
					right: -12px;
					display: block;					
					&::after{
						content: "" !important;
						clear: both;
						display: table;
						position: absolute;
						height: 45px;
						width: 45px;
						background-color: rgba(4, 118, 78, 0.1);
						top: 50%;
						left: 50%;
						z-index: -1;
						border-radius: 30px;
						transform: translate(-50%, -50%);
					}
				}
				.noUi-pips-horizontal{
					height: 60px;
					.noUi-marker{
						display: none;
					}
					.noUi-value{
						font-size: 16px;
						font-weight: 400;
						color: var(--text-light);
						&.active-pip{
							font-weight: 600;
							color: var(--dark);
						}
					}
				}
				&.noUi-horizontal{
					height: 12px;
					.noUi-connects{
						height: 12px;
						border-radius: 12px;
						background-color: #ECECEC;
					}
				}
				&.noUi-target{
					box-shadow: unset;
				}
			}
		}
		.dz-meta-items{
			display: flex;
			align-items: center;
			.dz-price{
				.price{
					font-size: 24px;
					font-weight: 600;
					display: inline-flex;
					sub{
						line-height: 14px;
						font-size: 14px;
						margin-right: 3px;
					}
					del{
						font-size: 16px;
						font-weight: 500;
						color: var(--text-light);
						margin-left: 5px;
						margin-top: 8px;
					}
				}
			}
		}
	}
}


// Wishlist Screen ===
.dz-wishlist-bx{
	position: relative;
    background-color: var(--bg-white);
    overflow: hidden;
    border-radius: var(--border-radius-lg);
    display: flex;
    padding: 15px;
    align-items: center;
	height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	.dz-media{
		width: 95px;
		min-width: 95px;
		border-radius: var(--border-radius-lg);
	}
	.dz-info{
		padding: 0 0 0 15px;
		width: 100%;
		.dz-head{
			margin-bottom: 15px;
		}
		p{
			font-size: 12px;
			margin-bottom: 0;
			font-weight: 500;
			line-height: 12px;
			color: var(--text-light);
		}
		.dz-meta {
			display: flex;
			align-items: center;
		}
		.price {
			font-weight: 600;
			font-size: 18px;
			color: var(--title);
		}
	}
	&.dz-box-wrap{
		flex-direction: column;
		.dz-media{
			width: 100%;
			min-width: 100%;
			margin-bottom: 15px;
		}
		.dz-info{
			padding: 0;
		}
	}
}